{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load core_tags %}

{% block head %}{% endblock head %}

{% block content%}
<style>
    #content-main{
        background-color: #d8d0d0;
    }
    .gradient-blue{
        background: rgb(148,202,244);
        background: linear-gradient(0deg, rgba(148,202,244,1) 0%, rgba(0,140,247,1) 100%);
    }
    .gradient-orange{
        background: rgb(247,194,113);
        background: linear-gradient(0deg, rgba(247,194,113,1) 0%, rgba(236,142,0,1) 100%);
    }
    .gradient-green{
        background: rgb(195,246,191);
        background: linear-gradient(0deg, rgba(195,246,191,1) 0%, rgba(84,209,73,1) 100%);
    }
    radius-10 {
        border-radius: 10px !important;
    }

    .border-info {
        border-left: 5px solid  #0dcaf0 !important;
    }
    .border-danger {
        border-left: 5px solid  #fd3550 !important;
    }
    .border-success {
        border-left: 5px solid  #15ca20 !important;
    }
    .border-warning {
        border-left: 5px solid  #ffc107 !important;
    }


    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }
    .bg-gradient-scooter {
        background: #17ead9;
        background: -webkit-linear-gradient( 
    45deg
    , #17ead9, #6078ea)!important;
        background: linear-gradient( 
    45deg
    , #17ead9, #6078ea)!important;
    }
    .widgets-icons-2 {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ededed;
        font-size: 27px;
        border-radius: 10px;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    .text-white {
        color: #fff!important;
    }
    .ms-auto {
        margin-left: auto!important;
    }
    .bg-gradient-bloody {
        background: #f54ea2;
        background: -webkit-linear-gradient( 
    45deg
    , #f54ea2, #ff7676)!important;
        background: linear-gradient( 
    45deg
    , #f54ea2, #ff7676)!important;
    }

    .bg-gradient-ohhappiness {
        background: #00b09b;
        background: -webkit-linear-gradient( 
    45deg
    , #00b09b, #96c93d)!important;
        background: linear-gradient( 
    45deg
    , #00b09b, #96c93d)!important;
    }

    .bg-gradient-blooker {
        background: #ffdf40;
        background: -webkit-linear-gradient( 
    45deg
    , #ffdf40, #ff8359)!important;
        background: linear-gradient( 
    45deg
    , #ffdf40, #ff8359)!important;
    }

    /* tabela */
    #ordersManager {
        background-color: rgb(250, 250, 250);
        /* border-bottom: 1px solid #0e0e0e; */
    }
    table {
        border-radius: 6px;
        border-collapse: collapse;
        width: 100% !important;
    }
    thead {
        background-color: #ec8e00;
    }

    /* th, td{ */
        /* margin-bottom: 5px; */
        /* border-bottom: 5px solid #d8d0d0;  */
        /* border-radius: 6px; */
    /* }

    tbody, th{
        border-radius: 6px;
    } */

    table.dataTable tbody tr {
        border-radius: 10px; /* Altere o valor conforme necessário */
    }

    /* Adiciona um pouco de espaço entre as linhas para destacar o efeito de borda arredondada */
    table.dataTable tbody tr {
        border-bottom: 5px solid #d8d0d0;
        margin-bottom: 5px; /* Altere o valor conforme necessário */
    }

</style>    
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="col py-3" id="content-main">

            <div class="row m-2 ">
                <div class="d-flex justify-content-between">

                    <div class="col m-2">
                        <div class="card radius-10 border-start border-0 border-3 border-info">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-secondary">Total de Pedidos</p>
                                        <h4 class="my-1 text-success">{% total_order %}</h4>
                                        <p class="mb-0 font-13">-4.5% from last week</p>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col m-2">
                        <div class="card radius-10 border-start border-0 border-3 border-success">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-secondary">Pedidos hoje</p>
                                        <h4 class="my-1 text-success">{% total_order_today %}</h4>
                                        <p class="mb-0 font-13">-4.5% from last week</p>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col m-2">
                        <div class="card radius-10 border-start border-0 border-3 border-warning">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0 text-secondary">Média 7 dias</p>
                                        <h4 class="my-1 text-success">{% total_mean_order %}</h4>
                                        <p class="mb-0 font-13">-4.5% from last week</p>
                                    </div>
                                    <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-6">
                    <div >
                        <div class="card_pry-text">
                            <h2 class="text-secondary">Pedidos</h2>
                        </div>
                        <table id="ordersManager">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Data</th>
                                    <th>Cliente</th>
                                    <th>Produtos</th>
                                    <th>Observação</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col-6" style="background-color: green;"></div>
                
            </div>
            
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.3/datatables.min.js"></script>
<script>
    // Faz a requisição para a API
    fetch("{% url 'core:fetch_return_all_orders_by_management' %}")
        .then(response => response.json())
        .then(data => {
            const tabelaUsuarios = $('#ordersManager').DataTable({
                data: data,
                columns: [
                    { title: 'Id', data: 'id' },
                    { title: 'Data', data: 'data' },
                    { title: 'Cliente', data: 'client' },
                    { title: 'Produtos', data: 'products' },
                    { title: 'Observações', data: 'msg' },
                ],
                "bLengthChange" : false,
                "pageLength": 5,
                searching: false, // desabilita a funcionalidade de pesquisa
                oLanguage: {
                    sProcessing: "Processando...",
                    sLengthMenu: "_MENU_ Registros",
                    sZeroRecords: "Não foram encontrados resultados",
                    sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando de 0 até 0 de 0 registros",
                    sInfoFiltered: "",
                    sInfoPostFix: "",
                    sSearch: "Buscar:",
                    sUrl: "",
                    oPaginate: {
                    sFirst: "Primeiro",
                    sPrevious: "Anterior",
                    sNext: "Seguinte",
                    sLast: "Último",
                    },
                },
            });
        })
        .catch(error => console.error('Erro:', error));
    // $(document).ready(function(){
    //     $("#tabela-listar").DataTable({
    //         "order": [[ 1, "dsc" ]],
    //         lengthMenu: [
    //             [5, 10, 15, -1],
    //             [5, 10, 15, 'TODOS'],
    //         ],
    //         searching: false, // desabilita a funcionalidade de pesquisa
    //         "oLanguage": {
    //             "sProcessing":   "Processando...",
    //             "sLengthMenu":   "_MENU_ Registros",
    //             "sZeroRecords":  "Não foram encontrados resultados",
    //             "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
    //             "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
    //             "sInfoFiltered": "",
    //             "sInfoPostFix":  "",
    //             "sSearch":       "Buscar:",
    //             "sUrl":          "",
    //             "oPaginate": {
    //                 "sFirst":    "Primeiro",
    //                 "sPrevious": "Anterior",
    //                 "sNext":     "Seguinte",
    //                 "sLast":     "Último"
    //             }
    //         }
    //     });
    // });
</script>

{% endblock content %} 